body {
    background-color: #0f182c;
    color: #f8fafc;
    font-family: 'Ranade', sans-serif;
}
img {
  border-radius: 30px;
  display: block;
  margin: 10px auto;
}
section {
    background-color: #1e293b;
    padding: 18px;
    margin-bottom: 30px;
    border-radius: 30px;
}
h1 {
    text-align: center;
    color: #22d3ee;
    margin: 20px auto 20px auto;
}
h2 {
    color: #bfdbfe;
    margin-top: 20px;
    text-align: center;
}
h3 {
    text-align: center;
}
ul {
    text-align: center;
}
li {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}
a {
    background-color: #2563eb;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #22d3ee;
    margin: 10px auto;
    display: block;
    width: fit-content;
}
button {
    background-color: #2563eb;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #22d3ee;
    align-items: center;
    display: block;
    margin: 10px auto;
}
.hidden {
    display: none;
}
p {text-align: center;}
input {
    display: block;
    margin: 10px auto;
}
label {
    text-align: center;
    display: block;
    margin: 10px auto;
}